.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-color: black;
    opacity: 70%;
  }


.search, .info {
    position: absolute;
    width: 50%; 
    height: 50%; 
  }
  
.search {
    z-index: 1;
  }

.info {
    z-index: 0;
}

  