.card{
  display: flex;
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  opacity: 50%;
}


/* body {
    background-color: black;
    opacity: 30%;
} */

/* .card {
  display: grid;
  grid-template-rows: 1fr 3fr;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  opacity: 50%;
  font: black;
} */

/*
.search, .info {
    position: absolute;
    width: 50%; 
    height: 50%; 
  }
  
.search {
    z-index: 1;
  }

.info {
    z-index: 0;
} */

  